<main>
  <!-- Hero / cabecera visual -->
  <section class="sectionindex">
    <img src="assets/imagenes/pulp.jpeg">
    <img src="assets/imagenes/regreso.jpg">
    <img src="assets/imagenes/akira.jpg">
    <img src="assets/imagenes/terminator.jpg">
  </section>

  <!-- Carrusel 1: Mejor valoradas -->
 <app-carousel
    [title]="'Mejor valoradas'"
    [items]="topRatedItems"
    [steps]="steps"
    [leftPadding]="leftPaddingPx">
  </app-carousel>


  <!-- GRID “Mis favoritos” -->
  <div class="titulos">
    <h1>Mis favoritos</h1>
  </div>

  <div class="divsproductos">
    <div class="product" *ngFor="let m of homeMovies">
      <img class="blur-in"
           [src]="m.posterUrl || 'assets/imagenes/placeholder-poster.png'"
           [alt]="m.title" />
      <div class="overlay">
        <p class="titleproducto">{{ m.title }}</p>
        <p class="rating">⭐ {{ m.averageRating ?? '—' }}</p>
        <p class="descripcion">{{ m.description || 'Sin descripción.' }}</p>
      </div>
    </div>
  </div>

  <!-- Carrusel 2: Selecciones populares -->
  <app-carousel
    [title]="'Selecciones populares'"
    [items]="popularItems"
    [steps]="steps"
    [leftPadding]="leftPaddingPx">
  </app-carousel>

</main>
