<br>
<div class="auth-box">
  

  <form [formGroup]="form" (ngSubmit)="submit()">
    <h2>Registro</h2>
    <label>Usuario</label>
    <input formControlName="username" type="text" placeholder="alberto" />

    <label>Email</label>
    <input formControlName="email" type="email" placeholder="alberto@email.com" />

    <label>Contraseña</label>
    <input formControlName="password" type="password" placeholder="••••••••" />

    <button type="submit" [disabled]="loading">Crear cuenta</button>
  </form>

  <p class="ok" *ngIf="ok">{{ ok }}</p>
  <p class="error" *ngIf="error">{{ error }}</p>

  <p class="link">
    ¿Ya tienes cuenta?
    <a routerLink="/login">Inicia sesión</a>
  </p>
</div>

<br>
