<div class="table-container">
  <h2>Lista Usuarios</h2>

  <!-- Si luego quieres botón de acciones, ya tienes el estilo -->
  <!-- <button class="action-btn add-btn" (click)="crearUsuario()">Agregar</button> -->

  <div *ngIf="loading" class="info-row">Cargando...</div>
  <div *ngIf="error" class="alert-danger">{{ error }}</div>

  <table class="custom-table" *ngIf="!loading && !error">
    <thead>
      <tr>
        <th>ID</th>
        <th>Usuario</th>
        <th>Email</th>
        <th>Nombre</th>
        <th>Rol</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let u of users">
        <td>{{ u.id }}</td>
        <td>{{ u.username }}</td>
        <td>{{ u.email }}</td>
        <td>{{ u.displayName || '—' }}</td>
        <td>{{ u.role }}</td>
        <td>{{ u.status }}</td>

        <td>
          <!-- placeholders (por si luego haces editar/bloquear) -->
          <button  class="action-btn edit-btn">Editar</button>
          <button  class="action-btn delete-btn">Borrar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
