<nav>
  <ul class="sidebar">
    <li onclick="hideSidebar()" class="logo-item">
      <button class="botonNav">
        <img class="logo2" routerLink="Home" src="assets/imagenes/logo.PNG" />
      </button>
    </li>
    <li class="dropdown">
      <button class="botonNav2">Admin</button>
      <div class="dropdown-menu">
        <button routerLink="directores">Directores</button>
        <button routerLink="peliculas">Peliculas</button>
        <button routerLink="generos">Generos</button>
        <button onclick="alert('Editar')">Usuarios</button>
      </div>
    </li>
    <li class="search-container"><input type="text" class="search-bar" placeholder="Buscar...">
      <button class="search-button"><img src="assets/imagenes/lupa.png" /></button>
    </li>
    <li><button routerLink="Home" class="botonNav2">Inicio</button></li>
    <li><button onclick="location.href='/Comics'" class="botonNav2">Películas</button></li>
    <li><button onclick="location.href='/Favoritos'" class="botonNav2">Favoritos</button></li>
    <li><button onclick="location.href='/login'" class="botonNav2">Mi cuenta</button></li>
  </ul>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="footer-content">
      <!-- Logo o nombre del sitio -->
      <div class="footer-logo">
          <h2>FilmScore</h2>
      </div>

      <!-- Enlaces de navegación -->
      <nav class="footer-nav">
          <a href="/about">Acerca de</a> <a href="/contact">Contacto</a> <a href="/terms">Términos</a> <a
              href="/privacy">Privacidad</a>
      </nav>

      <!-- Redes sociales -->
      <div class="footer-socials">
          <a href="https://facebook.com" target="_blank">Facebook</a> <a href="https://twitter.com"
              target="_blank">Twitter</a> <a href="https://instagram.com" target="_blank">Instagram</a>
      </div>

      <!-- Copyright -->
      <div class="footer-copyright">
          &copy;
          <script>document.write(new Date().getFullYear())</script>
          FilmScore. Todos los derechos reservados.
      </div>
  </div>


</footer>