<br>
<div class="auth-box">


  <form [formGroup]="form" (ngSubmit)="submit()">
    <h2>Iniciar sesión</h2>
    <label>Usuario o email</label>
    <input formControlName="usernameOrEmail" type="text" placeholder="alberto / alberto@email.com" />

    <label>Contraseña</label>
    <input formControlName="password" type="password" placeholder="••••••••" />

    <button type="submit" [disabled]="loading">Entrar</button>

    <p class="error" *ngIf="error">{{ error }}</p>

    <p class="link">
      ¿No tienes cuenta?
      <a routerLink="/register">Regístrate</a>
    </p>
  </form>


</div>

<br>